h1 {
    text-align: center;
    font-size: 50px;
    background-color: blue;
}

p{
    font-size: 20px;
}

table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

body {
  background-color: white;
}

a {
  font-size: 35px;
}

main img {
  width: 200px;
  height: 200px;
}

div{
  text-align: center;
}
